* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    cursor: none;
}

@font-face {
    font-family: 'MONOGRAM';
    src: url("/Game/Assets/HUD/fonts/monogram.ttf") format('truetype');
}
